* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.backest {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.back {
    background-color: rgb(160, 159, 95);
    border-radius: 10px;
    /* opacity: ; */
    margin: 10%;
    padding: 5%;
}